## Lab | T tests and p values
#### Instructions
This time this is a one sided t-test. In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

In [15]:
from scipy.stats import ttest_1samp
from scipy.stats import norm
import math
from scipy.stats import t

In [3]:
import numpy as np
import pandas as pd

In [4]:
a = [42.1, 41,  41.3, 41.8, 42.4, 42.8, 43.2, 42.3, 41.8, 42.7]

In [5]:
b = [42.7, 43.6, 43.8, 43.3, 42.5, 43.5, 43.1, 41.7, 44, 44.1]

In [6]:
a_mean= np.mean(a)
b_mean= np.mean(b)
a_std = np.std(a)
b_std = np.std(b)
n=10

<img src="images/Two-samples_T-test.png" width="300" height="170" />

In [19]:
statistic = (a_mean - b_mean)/(math.sqrt(((a_std**2)/n)+(b_std**2)/n))
statistic

-3.5809955894645813

In [8]:
critical_value = norm.ppf(0.05)
critical_value

-1.6448536269514729

In [9]:
absoluteZ = abs(norm.ppf(0.05))
upperCI = a_mean + absoluteZ*a_std/math.sqrt(n-1)
upperCI

42.495498158785935

In [10]:
lowerCI = a_mean - absoluteZ*a_std/math.sqrt(n-1)
lowerCI

41.784501841214066

In [43]:
upperCI = b_mean + absoluteZ*b_std/math.sqrt(n-1)
upperCI

43.62005349235966

In [42]:
lowerCI = b_mean - absoluteZ*b_std/math.sqrt(n-1)
lowerCI

42.83994650764035

#### Result = the new machine is faster than the old machine

--------------------

In this case we can't assume that the population variances are equal. Hence in this case we cannot pool the variances. Independent random samples of 17 sophomores and 13 juniors attending a large university yield the following data on grade point averages. Data is provided in the file files_for_lab/student_gpa.txt. At the 5% significance level, do the data provide sufficient evidence to conclude that the mean GPAs of sophomores and juniors at the university differ?

Test statistics can be calculated as: link to the image - Test statistics calculation for Unpooled Variance Case

Degrees of freedom is (n1-1)+(n2-1).

In [20]:
Sophomores = [3.04, 1.71, 3.3,2.88,2.11,2.6,2.92,3.6,2.28,2.82,3.03,3.13,2.86,3.49,3.11,2.13,3.27]
Juniors = [2.56,2.77, 2.7,3, 2.98, 3.47, 3.26,3.2,3.19,2.65,3,3.39,2.58]

In [23]:
df=pd.read_csv('data/student_gpa.txt', sep = "\t")

In [24]:
df = df.rename(columns={'  Juniors': 'Juniors'})

In [25]:
df

    Sophomores  Juniors
0         3.04     2.56
1         1.71     2.77
2         3.30     2.70
3         2.88     3.00
4         2.11     2.98
5         2.60     3.47
6         2.92     3.26
7         3.60     3.20
8         2.28     3.19
9         2.82     2.65
10        3.03     3.00
11        3.13     3.39
12        2.86     2.58
13        3.49      NaN
14        3.11      NaN
15        2.13      NaN
16        3.27      NaN

In [36]:
sopho_mean= np.mean(df["Sophomores"])
juniors_mean= np.mean(df['Juniors'])
sopho_std = np.std(df["Sophomores"])
juniors_std = np.std(df['Juniors'])
juniors_n = (len(df['Juniors']) - (df['Juniors'].isna().sum()))
sopho_n = (len(df["Sophomores"]) - (df["Sophomores"].isna().sum()))

In [44]:
statistic2 = (sopho_mean - juniors_mean)/(math.sqrt(((sopho_std**2)/sopho_n)+(juniors_std**2)/juniors_n))
statistic2

-0.9544689615323313

In [45]:
absoluteZ = abs(norm.ppf(0.05))
upperCI = sopho_mean + absoluteZ*sopho_std/math.sqrt(sopho_n-1)
upperCI

3.0473793738513937

In [46]:
lowerCI = sopho_mean - absoluteZ*sopho_std/math.sqrt(sopho_n-1)
lowerCI

2.632620626148606

In [47]:
upperCI = juniors_mean + absoluteZ*juniors_std/math.sqrt(juniors_n-1)
upperCI

3.1218532076346337

In [48]:
lowerCI = juniors_mean - absoluteZ*juniors_std/math.sqrt(juniors_n-1)
lowerCI

2.839685253903828